.App {
  text-align: center;
}

.options {
  display: none;
  position: absolute;
  width: 80%;
  height: 100%;
  right: 0;

  &.options-toggled {
    display: block;
  }
}

.saved {
  display: none;
  position: absolute;
  width: 80%;
  height: 100%;
  right: 0;

  &.saved-toggled {
    display: block;
  }
}

.about {
  display: none;
  position: absolute;
  width: 80%;
  height: 100%;
  right: 0;

  &.about-toggled {
    display: block;
  }
}

