.App {
  text-align: center;
}

.options {
  display: none;

  &.options-toggled {
    display: block;
  }
}

.saved {
  display: none;

  &.saved-toggled {
    display: block;
  }
}

.about {
  display: none;

  &.about-toggled {
    display: block;
  }
}

